body {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body h1 {
  color:#333333;
  font-family: Gulim;
  font-weight: bold;
  text-align: center;
  font-size: 50px;
}

.title {
  padding-top: 100px;
  opacity: 0.6;
}

.avater {
  text-align: center;
}

.avater img {
  border-radius: 50%;
  opacity: 0.9;
}

.icons {
  font-size: 60px;
}

ul {
  list-style: none;
}

.icon {
  width:800px;
  margin:30px auto;
}


.icon a {
  color:#333;
}

.icon li {
  float:left;
  font-size:25px;
  margin-right:20px;
}

.icon li :hover {
  background-color: #ead9ff;
}
